@charset 'UTF-8';

////
/// Flavor SCSS Types Array Module
/// @group types-array
/// @author blackmirror1980
////

/// Checks if a value is an array/list
///
/// @access public
/// @param {list | array} $a - the value to check
/// @return {boolean}
@function is-array($a) {
  @return is-defined($a) and type-of($a)==list;
}

/// Checks if an array/list contains specified item
///
/// @access public
/// @param {list | array} $a - the array/list
/// @param {any} $i - the item
/// @return {boolean}
@function array-contains($a, $i) {
  @if is-array($a) and is-defined($i) {
    $index-of: index($a, $i);

    @return is-defined($index-of) and $index-of > 0;
  }

  @warn '`array: #{$a}` and `item: #{$i}` are not valid data for array-contains';
  @return false;
}

/// Concats two or more arrays/lists
///
/// @access public
/// @param {list | array} $lists... - the arrays/lists
/// @return {list | array}
@function array-concat($lists...) {
  $concat-list: ();

  @each $list in $lists {
    @if is-array($list) {
      @each $item in $list {
        $concat-list: append($concat-list, $item);
      }
    }
    @else {
      $concat-list: append($concat-list, $list);
    }
  }

  @return $concat-list;
}

/// Joins an array/list in a string with the specified separator
///
/// @access public
/// @param {list | array} $a - the array/list
/// @param {string} $sep [','] - the sparator
/// @return {string}
@function array-join($a, $sep: ', ') {
  $join-string: '';

  @each $item in $a {
    $join-string: $join-string + $sep + $item;
  }

  $join-string: str-slice($join-string, str-length($sep) + 1);

  @return $join-string
}
