@function is-array($a) {
  @return is-defined($a) and type-of($a)==list;
}

@function array-contains($list, $item) {
  @if is-array($list) and is-defined($item) {
    $index-of: index($list, $item);

    @return is-defined($index-of) and $index-of > 0;
  }

  @warn '`array: #{$list}` and `item: #{$item}` are not valid data for array-contains';
  @return false;
}

@function array-concat($lists...) {
  $concat-list: ();

  @each $list in $lists {
    @if is-array($list) {
      @each $item in $list {
        $concat-list: append($concat-list, $item);
      }
    }
    @else {
      $concat-list: append($concat-list, $list);
    }
  }

  @return $concat-list;
}

@function array-join($list, $sep: ', ') {
  $join-string: '';

  @each $item in $list {
    $join-string: $join-string + $sep + $item;
  }

  $join-string: str-slice($join-string, str-length($sep) + 1);

  @return $join-string
}
