@function is-color($c) {
  @return is-defined($c) and type-of($c)==color;
}

$color-modes: array-concat((transparent), $css-default-modes);

@function is-css-color($c) {
  @return is-defined($c) and (is-color($c) or array-contains($color-modes, $c));
}
