@charset 'UTF-8';

@function has-url-function($u) {
  @if is-string($u) {
    $url: $u;

    $url-function-starts-with: string-starts-with($url, 'url("') or string-starts-with($url, 'url(\'');
    $url-function-ends-with: string-ends-with($url, '")') or string-ends-with($url, '\')');

    @return $url-function-starts-with and $url-function-ends-with;
  }

  @warn '`url: #{$u}` is not a valid string';
  @return false;
}

@function is-url($u) {
  @if is-string($u) {
    $url: $u;

    @if has-url-function($url) {
      $url: str-slice($u, 6, str-length($u) - 2);
    }

    @if string-starts-with($url, '../') or string-starts-with($url, '/') or string-starts-with($url, 'http') {
      @return true;
    }
  }

  @warn '`url: #{$u}` is not a valid string';
  @return false;
}

@function inspect-url($u) {
  @if is-url($u) {
    $url: $u;

    @if not has-url-function($url) {
      $url: url('#{$url}');
    }

    @return $url;
  }

  @return false;
}
