@charset 'UTF-8';

////
/// Flavor SCSS Animations Module
/// @group mixins
/// @author Black mirror
////
/// @name animation-name-modes
/// @access public
$animation-name-modes: array-concat((none), $css-default-modes);

/// Checks if animation name is string or css default (inherit, initial)
/// @name is-animation-name
/// @access public
/// @return {Bool}
@function is-animation-name($an) {
  @return is-string($an) or array-contains($animation-name-modes, $an);
}

@function is-animation-time($at) {
  @return is-time($at) or is-css-default($at);
}

$animation-direction-modes: array-concat((normal, reverse, alternate, alternate-reverse), $css-default-modes);

@function is-animation-direction($ad) {
  @return array-contains($animation-direction-modes, $ad);
}

$animation-iteration-count-modes: array-concat((infinite), $css-default-modes);

@function is-animation-iteration-count($aic) {
  @return is-integer($aic) or array-contains($animation-iteration-count-modes, $aic);
}

$animation-fill-modes: array-concat((none, forwards, backwards, both), $css-default-modes);

@function is-animation-fill-mode($afm) {
  @return array-contains($animation-fill-modes, $afm);
}

$animation-timing-function-modes: array-concat((linear, ease, ease-in, ease-out, ease-in-out, step-start, step-end), $css-default-modes);

@function is-animation-timing-function($atf) {
  @return string-starts-with($atf, 'steps') or string-starts-with($atf, 'cubic-bezier') or array-contains($animation-timing-function-modes, $atf);
}

$animation-play-state-modes: array-concat((paused, running), $css-default-modes);

@function is-animation-play-state-modes($aps) {
  @return array-contains($animation-play-state-modess, $aps);
}

// keyframe mixin e.g. usage
// @include keyframe(fadeout) {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }
// @include keyframe(changecolour) {
//   0% {
//     color: #000;
//   }
//   100% {
//     color: #FFF;
//   }
// }
@mixin keyframe ($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

// animation mixin e.g. usage
// @include animation(10s, 5s, changecolour)
@mixin animation($options) {
  @if is-css-default($options) {
    @include prefixer(animation, $options);
  }
  @else {
    $settings: (name: none, duration: 0s, delay: 0s, direction: normal, iteration-count: 0, timing-function: ease, fill-mode: forwards, play-state: initial);

    @if is-object($options) {
      $settings: extend($settings, $options);
    }
    @else {
      $name: if(length($options) > 0, nth($options, 1), null);

      @if is-defined($name) {
        $settings: map-merge($settings, (name: $name));
      }

      $duration: if(length($options) > 1, nth($options, 2), null);

      @if is-defined($duration) {
        $settings: map-merge($settings, (duration: $duration));
      }

      $delay: if(length($options) > 2, nth($options, 3), null);

      @if is-defined($delay) {
        $settings: map-merge($settings, (delay: $delay));
      }

      $direction: if(length($options) > 3, nth($options, 4), null);

      @if is-defined($direction) {
        $settings: map-merge($settings, (direction: $direction));
      }

      $iteration-count: if(length($options) > 4, nth($options, 5), null);

      @if is-defined($iteration-count) {
        $settings: map-merge($settings, (iteration-count: $iteration-count));
      }

      $timing-function: if(length($options) > 5, nth($options, 6), null);

      @if is-defined($timing-function) {
        $settings: map-merge($settings, (timing-function: $timing-function));
      }

      $fill-mode: if(length($options) > 6, nth($options, 7), null);

      @if is-defined($fill-mode) {
        $settings: map-merge($settings, (fill-mode: $fill-mode));
      }

      $play-state: if(length($options) > 7, nth($options, 8), null);

      @if is-defined($play-state) {
        $settings: map-merge($settings, (play-state: $play-state));
      }
    }

    $animation: ();

    $animation-name: map-get($settings, name);

    @if is-animation-name($animation-name) {
      @include prefixer(animation-name, $animation-name);
    }
    @else {
      @error '`animation-name: #{$animation-name}` is mandatory parameter';
    }

    $animation-duration: map-get($settings, duration);

    @if is-animation-time($animation-duration) {
      @include prefixer(animation-duration, $animation-duration);
    }
    @else {
      @warn '`animation-duration: #{$animation-duration}` is not a valid animation time value (only time & css defaults are allowed)';
    }

    $animation-delay: map-get($settings, delay);

    @if is-animation-time($animation-delay) {
      @include prefixer(animation-delay, $animation-delay);
    }
    @else {
      @warn '`animation-delay: #{$animation-delay}` is not a valid animation time value (only time & css defaults are allowed)';
    }

    $animation-direction: map-get($settings, direction);

    @if is-animation-direction($animation-direction) {
      @include prefixer(animation-direction, $animation-direction);
    }
    @else {
      @warn '`animation-direction: #{$animation-direction}` is not a valid animation direction value';
    }

    $animation-iteration-count: map-get($settings, iteration-count);

    @if is-animation-iteration-count($animation-iteration-count) {
      @include prefixer(animation-iteration-count, $animation-iteration-count);
    }
    @else {
      @warn '`animation-iteration-count: #{$animation-iteration-count}` is not a valid animation iteration count value';
    }

    $animation-timing-function: map-get($settings, timing-function);

    @if is-animation-timing-function($animation-timing-function) {
      @include prefixer(animation-timing-function, $animation-timing-function);
    }
    @else {
      @warn '`animation-timing-function: #{$animation-timing-function}` is not a valid animation timing function value';
    }

    $animation-fill-mode: map-get($settings, fill-mode);

    @if is-animation-fill-mode($animation-fill-mode) {
      @include prefixer(animation-fill-mode, $animation-fill-mode);
    }
    @else {
      @warn '`animation-fill-mode: #{$animation-fill-mode}` is not a valid animation fill mode value';
    }

    $animation-play-state: map-get($settings, play-state);

    @if is-animation-direction($animation-play-state) {
      @include prefixer(animation-play-state, $animation-play-state);
    }
    @else {
      @warn '`animation-play-state: #{$animation-play-state}` is not a valid animation play state value';
    }
  }
}
