@mixin appearance ($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@mixin outline($outline) {
  outline: $outline;

  &:active,
  &:focus {
    outline: $outline;
  }
}

@mixin overflow-hidden-animated {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);

  overflow: hidden;
}
