@mixin appearance ($a) {
  @include prefixer(appearance, $a);
}

@mixin outline($outline) {
  outline: $outline;

  &:active,
  &:focus {
    outline: $outline;
  }
}

@mixin overflow-hidden-animated {
  @include backface-visibility(hidden);
  @include transform(translate3d(0, 0, 0), webkit moz);
  @include overflow(hidden);
}
