@charset 'UTF-8';

$cursor-modes: array-concat((alias, all-scroll, auto, cell, context-menu, col-resize, copy, crosshair, default, e-resize, ew-resize, grab, grabbing, help, move, n-resize, ne-resize, nesw-resize, ns-resize, nw-resize, nwse-resize, no-drop, none, not-allowed, pointer, progress, row-resize, s-resize, se-resize, sw-resize, text, vertical-text, w-resize, wait, zoom-in, zoom-out), $css-default-modes);

@function is-cursor-mode($c) {
  @return is-defined($c) and (array-contains($cursor-modes, $c) or is-url($c));
}

@mixin cursor($c) {
  @if is-cursor-mode($c) {
    cursor: $c;
  }
  @else {
    @warn '`cursor: #{$c}` is not a valid cursor value';
  }
}
