@charset 'UTF-8';

////
/// Flavor SCSS Mixins Text
/// @group mixins-text
/// @author blackmirror1980
////

/// Font size modes
///
/// @type list
/// @access private
$font-size-modes: array-concat((medium, xx-small, x-small, small, large, x-large, xx-large, smaller, larger), $css-default-modes);

/// Checks if something is a supported font-size value
///
/// @access public
/// @param {size | percentage | font-size-mode} $fs - the font-size value
/// @link https://www.w3schools.com/cssref/pr_font_font-size.asp - W3Schools font-size docs
/// @return {boolean}
@function is-font-size($fs) {
  @return is-defined($fs) and (is-size($fs) or is-percentage($fs) or array-contains($font-size-modes, $fs));
}

/// Font size mixin
///
/// @param {size | percentage | font-size-mode} $fs - the font-size value
/// @example scss - Usage
///   .font-size-element {
///     @include font-size(1.8rem);
///   }
///
/// @example css - Output
///   .font-size-element {
///     font-size: 1.8rem;
///   }
@mixin font-size($fs) {
  @if is-font-size($fs) {
    font-size: $fs;
  }
  @else {
    @warn '`font-size: #{$fs}` is not a valid font-size value';
  }
}

/// Line height modes
///
/// @type list
/// @access private
$line-height-modes: array-concat((normal), $css-default-modes);

/// Checks if something is a supported line-height value
///
/// @access public
/// @param {size | percentage | line-height-mode} $lh - the line-height value
/// @link https://www.w3schools.com/cssref/pr_dim_line-height.asp - W3Schools line-height docs
/// @return {boolean}
@function is-line-height($lh) {
  @return is-defined($lh) and (is-size($lh) or is-percentage($lh) or array-contains($line-height-modes, $lh));
}

/// Line height mixin
///
/// @param {size | percentage | line-height-mode} $lh - the line-height value
/// @example scss - Usage
///   .line-height-element {
///     @include line-height(2.5rem);
///   }
///
/// @example css - Output
///   .line-height-element {
///     line-height: 2.5rem;
///   }
@mixin line-height($lh) {
  @if is-line-height($lh) {
    line-height: $lh;
  }
  @else {
    @warn '`line-height: #{$lh}` is not a valid line-height value';
  }
}

/// Checks if something is a supported font-family value
///
/// @access public
/// @param {string | array | list} $ff - the font-family value
/// @link https://www.w3schools.com/cssref/pr_font_font-family.asp - W3Schools font-family docs
/// @return {boolean}
@function is-font-family($ff) {
  @return is-defined($ff) and (is-string($ff) or is-array($ff));
}

/// Font family mixin
///
/// @param {string | array | list} $ff - the font-family value
/// @example scss - Usage
///   .font-family-element {
///     @include font-family('Source Sans Pro');
///   }
///
/// @example css - Output
///   .font-family-element {
///     font-family: 'Source Sans Pro';
///   }
///
/// @example scss - Usage
///   .font-family-element {
///     @include font-family('Source Sans Pro', Verdana, sans-serif);
///   }
///
/// @example css - Output
///   .font-family-element {
///     font-family: 'Source Sans Pro', Verdana, sans-serif;
///   }
@mixin font-family($ff) {
  @if is-font-family($ff) {
    font-family: #{$ff};
  }
  @else {
    @warn '`font-family: #{$ff}` is not a valid font-family value';
  }
}

/// font weight modes
///
/// @type list
/// @access private
$font-weight-modes: array-concat((normal, bold, bolder, lighter, 100, 200, 300, 400, 500, 600, 700, 800, 900), $css-default-modes);

/// Checks if something is a supported font-weight value
///
/// @access public
/// @param {string | integer} $fw - the font-weight value
/// @link https://www.w3schools.com/cssref/pr_font_weight.asp - W3Schools font-weight docs
/// @return {boolean}
@function is-font-weight($fw) {
  @return is-defined($fw) and array-contains($font-weight-modes, $fw);
}

/// Font weight mixin
///
/// @param {string | integer} $fw - the font-weight value
/// @example scss - Usage
///   .font-weight-element {
///     @include font-weight(bold);
///   }
///
/// @example css - Output
///   .font-weight-element {
///     font-weight: bold;
///   }
@mixin font-weight($fw) {
  @if is-font-weight($fw) {
    font-weight: $fw;
  }
  @else {
    @warn '`font-weight: #{$fw}` is not a valid font-weight';
  }
}

/// Font mixin
///
/// @param {object | map} $options - the options
/// @param {size | percentage | font-size-mode} $options.size [1rem] - the font-size value
/// @param {size | percentage | line-height-mode} $options.height [1rem] - the line-height value
/// @param {string | array | list} $options.family [null] - the font-family value
/// @param {string | integer} $options.weight [normal] - the font-weight value
/// @param {color} $options.color [null] - the color value
/// @example scss - Usage
///   .font-element {
///     @include font(1.5rem 2.5rem);
///   }
///
/// @example css - Output
///   .font-element {
///     font-size: 1.5rem;
///     line-height: 2.5rem;
///   }
@mixin font($options) {
  $settings: (size: 1rem, height: 1rem, family: null, weight: normal, color: null);

  @if is-object($options) {
    $settings: extend($settings, $options);
  }
  @else {
    $size: nth-value($options, 1);

    @if is-defined($size) {
      $settings: extend($settings, (size: $size));
    }

    $height: nth-value($options, 2);

    @if is-defined($height) {
      $settings: extend($settings, (height: $height));
    }

    $family: nth-value($options, 3);

    @if is-defined($family) {
      $settings: extend($settings, (family: $family));
    }

    $weight: nth-value($options, 4);

    @if is-defined($weight) {
      $settings: extend($settings, (weight: $weight));
    }

    $color: nth-value($options, 5);

    @if is-defined($color) {
      $settings: extend($settings, (color: $color));
    }
  }

  $font-size: map-get($settings, size);

  @if is-defined($font-size) {
    @include font-size($font-size);
  }

  $line-height: map-get($settings, height);

  @if is-defined($line-height) {
    @include line-height($line-height);
  }

  $font-family: map-get($settings, family);

  @if is-defined($font-family) {
    @include font-family($font-family);
  }

  $font-weight: map-get($settings, weight);

  @if is-defined($font-weight) {
    @include font-weight($font-weight);
  }

  $font-color: map-get($settings, color);

  @if is-defined($font-color) {
    @include box-color($font-color null);
  }
}

$text-align-modes: array-concat((left, center, right, justify), $css-default-modes);

@function is-text-align($ta) {
  @return is-defined($ta) and array-contains($text-align-modes, $ta);
}

@mixin text-align($ta) {
  @if(is-text-align($ta)) {
    text-align: $ta;
  }
  @else {
    @warn '`text-align: #{$ta}` is not a valid text-align value';
  }
}

$vertical-align-modes: array-concat((baseline, sub, super, top, text-top, middle, bottom, text-bottom), $css-default-modes);

@function is-vertical-align($va) {
  @return is-defined($va) and (is-size($va) or array-contains($vertical-align-modes, $va));
}

@mixin vertical-align($va) {
  @if(is-vertical-align($va)) {
    vertical-align: $va;
  }
  @else {
    @warn '`vertical-align: #{$va}` is not a valid vertical-align value';
  }
}

@mixin content-align($options) {
  $settings: (h: inherit, v: inherit);

  @if is-object($options) {
    $settings: extend($settings, $options);
  }
  @else {
    $h: nth-value($options, 1);

    @if is-defined($h) {
      $settings: extend($settings, (h: $h));
    }

    $v: nth-value($options, 2);

    @if is-defined($v) {
      $settings: extend($settings, (v: $v));
    }
  }

  $h: get($settings, h);

  @if is-defined($h) {
    @include text-align($h);
  }

  $v: get($settings, v);

  @if is-defined($v) {
    @include vertical-align($v);
  }
}

$text-overflow-modes: array-concat((clip, ellipsis), $css-default-modes);

@function is-text-overflow-mode($to) {
  @return is-defined($to) and (array-contains($text-overflow-modes, $to) or is-string($to));
}

@mixin text-overflow($to) {
  @if is-text-overflow($to) {
    @include prefixer(text-overflow, $to, o spec);
  }
  @else {
    @warn '`text-overflow: #{$to}` is not a valid text-overflow value';
  }
}

$hyphens-modes: array-concat((none, manual, auto, unset), $css-default-modes);

@function is-hyphens-mode($h) {
  @return is-defined($h) and array-contains($hyphens-modes, $h);
}

@mixin hyphens($h) {
  @if is-hyphens($h) {
    @include prefixer(hyphens, $h);
  }
  @else {
    @warn '`hyphens: #{$h}` is not a valid hyphens value';
  }
}

$letter-spacing-modes: array-concat((normal), $css-default-modes);

@function is-letter-spacing-mode($ls) {
  @return is-defined($ls) and (array-contains($letter-spacing-modes, $ls) or is-size($ls));
}

@mixin letter-spacing($ls) {
  @if is-letter-spacing($ls) {
    letter-spacing: $ls;
  }
  @else {
    @warn '`letter-spacing: #{$ls}` is not a valid letter-spacing value';
  }
}

$word-spacing-modes: array-concat((normal), $css-default-modes);

@function is-word-spacing-mode($ws) {
  @return is-defined($ws) and (array-contains($word-spacing-modes, $ws) or is-size($ws));
}

@mixin word-spacing($ws) {
  @if is-word-spacing($ws) {
    word-spacing: $ws;
  }
  @else {
    @warn '`word-spacing: #{$ws}` is not a valid word-spacing value';
  }
}

$user-select-modes: (auto, none, text, all);

@function is-user-select-mode($us) {
  @return is-defined($us) and array-contains($user-select-modes, $us);
}

@mixin user-select($us) {
  @if is-user-select($us) {
    @include prefixer(user-select, $us);
  }
  @else {
    @warn '`user-select: #{$us}` is not a valid user-select value';
  }
}

$direction-modes: array-concat((ltr, rtl), $css-default-modes);

@function is-direction-mode($d) {
  @return is-defined($d) and array-contains($direction-modes, $d);
}

@mixin direction($d) {
  @if is-direction($d) {
    direction: $d;
  }
  @else {
    @warn '`direction: #{$d}` is not a valid direction value';
  }
}

$white-space-modes: array-concat((normal, nowrap, pre, pre-line, pre-wrap), $css-default-modes);

@function is-white-space-mode($ws) {
  @return is-defined($ws) and array-contains($white-space-modes, $ws);
}

@mixin white-space($ws) {
  @if is-white-space($ws) {
    white-space: $ws;
  }
  @else {
    @warn '`white-space: #{$ws}` is not a valid white-space value';
  }
}

$word-break-modes: array-concat((normal, break-all, keep-all), $css-default-modes);

@function is-word-break-mode($wb) {
  @return is-defined($wb) and array-contains($word-break-modes, $wb);
}

@mixin word-break($wb) {
  @if is-word-break($wb) {
    word-break: $wb;
  }
  @else {
    @warn '`word-break: #{$wb}` is not a valid word-break value';
  }
}

$word-wrap-modes: array-concat((normal, break-word), $css-default-modes);

@function is-word-wrap-mode($ww) {
  @return is-defined($ww) and array-contains($word-wrap-modes, $ww);
}

@mixin word-wrap($ww) {
  @if is-word-wrap($ww) {
    word-wrap: $ww;
  }
  @else {
    @warn '`word-wrap: #{$ww}` is not a valid word-wrap value';
  }
}

$text-size-adjust-modes: array-concat((none, auto, unset), $css-default-modes);

@function is-text-size-adjust($tsa) {
  @return is-defined($tsa) and (is-percentage($tsa) or array-contains($text-size-adjust-modes, $tsa));
}

@mixin text-size-adjust($tsa) {
  @if(is-text-size-adjust($tsa)) {
    @include prefixer(text-size-adjust, $tsa);
  }
  @else {
    @warn '`text-size-adjust: #{$tsa}` is not a valid text-size-adjust value';
  }
}

@mixin ellipsis($multiline: false, $width: 100%, $font-size: 16px, $line-height: 1.4, $lines-to-show: 3) {
  @include overflow(hidden);
  @include text-overflow(ellipsis);

  @if $multiline {
    @include display(block); // Fallback for non-webkit
    @include margin(0 auto);
    @include font($font-size $line-height);

    display: -webkit-box;
    max-width: $width;
    height: $font-size * $line-height * $lines-to-show; // Fallback for non-webkit
    min-height: $font-size * $line-height * $lines-to-show; // Fallback for non-webkit
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
  }
  @else {
    @include display(inline-block);
    @include white-space(nowrap);
    @include word-wrap(normal);

    max-width: $width;
  }
}

// Word Wrapping Force
@mixin word-wrap-force {
  @include hyphens(auto);
  @include word-break(break-all);

  word-break: break-word;
}
