@charset 'UTF-8';

////
/// Flavor SCSS Mixins Text
/// @group mixins-text
/// @author blackmirror1980
////

/// Font size modes
///
/// @access private
/// @requires {function} array-concat
/// @type list
$font-size-modes: array-concat((medium, xx-small, x-small, small, large, x-large, xx-large, smaller, larger), $css-default-modes);

/// Checks if something is a supported font-size value
///
/// @link https://www.w3schools.com/cssref/pr_font_font-size.asp - W3Schools font-size docs
/// @access public
/// @param {size | percentage | font-size-mode} $fs - the font-size value
/// @return {boolean} - true if is font-size value
@function is-font-size($fs) {
  @return is-defined($fs) and (is-size($fs) or is-percentage($fs) or array-contains($font-size-modes, $fs));
}

/// Font size mixin
///
/// @example scss - Usage
///   .font-size-element {
///     @include font-size(1.8rem);
///   }
///
/// @example css - Output
///   .font-size-element {
///     font-size: 1.8rem;
///   }
/// @access public
/// @param {size | percentage | font-size-mode} $fs - the font-size value
@mixin font-size($fs) {
  @if is-font-size($fs) {
    font-size: $fs;
  }
  @else {
    @warn '`font-size: #{$fs}` is not a valid font-size value';
  }
}

/// Line height modes
///
/// @access private
/// @type list
$line-height-modes: array-concat((normal), $css-default-modes);

/// Checks if something is a supported line-height value
///
/// @link https://www.w3schools.com/cssref/pr_dim_line-height.asp - W3Schools line-height docs
/// @access public
/// @param {size | percentage | line-height-mode} $lh - the line-height value
/// @return {boolean} - true if is line-height value
@function is-line-height($lh) {
  @return is-defined($lh) and (is-size($lh) or is-percentage($lh) or array-contains($line-height-modes, $lh));
}

/// Line height mixin
///
/// @example scss - Usage
///   .line-height-element {
///     @include line-height(2.5rem);
///   }
///
/// @example css - Output
///   .line-height-element {
///     line-height: 2.5rem;
///   }
/// @access public
/// @param {size | percentage | line-height-mode} $lh - the line-height value
@mixin line-height($lh) {
  @if is-line-height($lh) {
    line-height: $lh;
  }
  @else {
    @warn '`line-height: #{$lh}` is not a valid line-height value';
  }
}

/// Checks if something is a supported font-family value
///
/// @link https://www.w3schools.com/cssref/pr_font_font-family.asp - W3Schools font-family docs
/// @access public
/// @param {string | array | list} $ff - the font-family value
/// @return {boolean} - true if is font-family value
@function is-font-family($ff) {
  @return is-defined($ff) and (is-string($ff) or is-array($ff));
}

/// Font family mixin
///
/// @example scss - Usage
///   .font-family-element {
///     @include font-family('Source Sans Pro');
///   }
///
/// @example css - Output
///   .font-family-element {
///     font-family: 'Source Sans Pro';
///   }
///
/// @example scss - Usage
///   .font-family-element {
///     @include font-family('Source Sans Pro', Verdana, sans-serif);
///   }
///
/// @example css - Output
///   .font-family-element {
///     font-family: 'Source Sans Pro', Verdana, sans-serif;
///   }
/// @access public
/// @param {string | array | list} $ff - the font-family value
@mixin font-family($ff) {
  @if is-font-family($ff) {
    font-family: #{$ff};
  }
  @else {
    @warn '`font-family: #{$ff}` is not a valid font-family value';
  }
}

/// Font weight modes
///
/// @access private
/// @type list
$font-weight-modes: array-concat((normal, bold, bolder, lighter, 100, 200, 300, 400, 500, 600, 700, 800, 900), $css-default-modes);

/// Checks if something is a supported font-weight value
///
/// @link https://www.w3schools.com/cssref/pr_font_weight.asp - W3Schools font-weight docs
/// @access public
/// @param {string | integer} $fw - the font-weight value
/// @return {boolean} - true if is font-weight value
@function is-font-weight($fw) {
  @return is-defined($fw) and array-contains($font-weight-modes, $fw);
}

/// Font weight mixin
///
/// @example scss - Usage
///   .font-weight-element {
///     @include font-weight(bold);
///   }
///
/// @example css - Output
///   .font-weight-element {
///     font-weight: bold;
///   }
/// @access public
/// @param {string | integer} $fw - the font-weight value
@mixin font-weight($fw) {
  @if is-font-weight($fw) {
    font-weight: $fw;
  }
  @else {
    @warn '`font-weight: #{$fw}` is not a valid font-weight';
  }
}

/// Font mixin
///
/// @example scss - Usage
///
///   $font-family: OpenSans, Verdana, sans-serif;
///
///   .font-element {
///     @include font(1.5rem 2.5rem $font-family bold white);
///   }
///
/// @example css - Output
///   .font-element {
///     font-size: 1.5rem;
///     line-height: 2.5rem;
///     font-family: OpenSans, Verdana, sans-serif;
///     font-weight: bold;
///     color: white;
///   }
/// @requires {function} extend
/// @requires {function} is-defined
/// @requires {function} is-object
/// @requires {function} nth-value
/// @access public
/// @param {object | map} $options - the options
/// @param {size | percentage | font-size-mode} $options.size [1rem] - the font-size value
/// @param {size | percentage | line-height-mode} $options.height [1rem] - the line-height value
/// @param {string | array | list} $options.family [null] - the font-family value
/// @param {string | integer} $options.weight [normal] - the font-weight value
/// @param {color} $options.color [null] - the color value
@mixin font($options) {
  $settings: (size: 1rem, height: 1rem, family: null, weight: normal, color: null);

  @if is-object($options) {
    $settings: extend($settings, $options);
  }
  @else {
    $size: nth-value($options, 1);

    @if is-defined($size) {
      $settings: extend($settings, (size: $size));
    }

    $height: nth-value($options, 2);

    @if is-defined($height) {
      $settings: extend($settings, (height: $height));
    }

    $family: nth-value($options, 3);

    @if is-defined($family) {
      $settings: extend($settings, (family: $family));
    }

    $weight: nth-value($options, 4);

    @if is-defined($weight) {
      $settings: extend($settings, (weight: $weight));
    }

    $color: nth-value($options, 5);

    @if is-defined($color) {
      $settings: extend($settings, (color: $color));
    }
  }

  $font-size: map-get($settings, size);

  @if is-defined($font-size) {
    @include font-size($font-size);
  }

  $line-height: map-get($settings, height);

  @if is-defined($line-height) {
    @include line-height($line-height);
  }

  $font-family: map-get($settings, family);

  @if is-defined($font-family) {
    @include font-family($font-family);
  }

  $font-weight: map-get($settings, weight);

  @if is-defined($font-weight) {
    @include font-weight($font-weight);
  }

  $font-color: map-get($settings, color);

  @if is-defined($font-color) {
    @include box-color($font-color null);
  }
}

/// Text align modes
///
/// @access private
/// @type list
$text-align-modes: array-concat((left, center, right, justify), $css-default-modes);

/// Checks if something is a supported text-align value
///
/// @link https://www.w3schools.com/cssref/pr_text_text-align.asp - W3Schools text-align docs
/// @access public
/// @param {string} $ta - the text-align value
/// @return {boolean} - true if is text-align value
@function is-text-align($ta) {
  @return is-defined($ta) and array-contains($text-align-modes, $ta);
}

/// Text align mixin
///
/// @example scss - Usage
///   .text-align-element {
///     @include text-align(center);
///   }
///
/// @example css - Output
///   .text-align-element {
///     text-align: center;
///   }
/// @access public
/// @param {string} $ta - the text-align value
@mixin text-align($ta) {
  @if(is-text-align($ta)) {
    text-align: $ta;
  }
  @else {
    @warn '`text-align: #{$ta}` is not a valid text-align value';
  }
}

/// Vertical align modes
///
/// @access private
/// @type list
$vertical-align-modes: array-concat((baseline, sub, super, top, text-top, middle, bottom, text-bottom), $css-default-modes);

/// Checks if something is a supported vertical-align value
///
/// @link https://www.w3schools.com/cssref/pr_pos_vertical-align.asp - W3Schools vertical-align docs
/// @access public
/// @param {string} $va - the vertical-align value
/// @return {boolean} - true if is vertical-align value
@function is-vertical-align($va) {
  @return is-defined($va) and (is-size($va) or array-contains($vertical-align-modes, $va));
}

/// Vertical align mixin
///
/// @example scss - Usage
///   .vertical-align-element {
///     @include vertical-align(top);
///   }
///
/// @example css - Output
///   .vertical-align-element {
///     vertical-align: top;
///   }
/// @access public
/// @param {string} $va - the vertical-align value
@mixin vertical-align($va) {
  @if(is-vertical-align($va)) {
    vertical-align: $va;
  }
  @else {
    @warn '`vertical-align: #{$va}` is not a valid vertical-align value';
  }
}

/// Content align mixin
///
/// @example scss - Usage
///   .content-align-element {
///     @include content-align(center middle);
///   }
///
/// @example css - Output
///   .content-align-element {
///     text-align: center;
///     vertical-align: middle;
///   }
/// @access public
/// @param {object | map} $options - the content-align options value
/// @param {string} $options.h [inherit] - the text-align value
/// @param {string} $options.v [inherit] - the vertical-align value
@mixin content-align($options) {
  $settings: (h: inherit, v: inherit);

  @if is-object($options) {
    $settings: extend($settings, $options);
  }
  @else {
    $h: nth-value($options, 1);

    @if is-defined($h) {
      $settings: extend($settings, (h: $h));
    }

    $v: nth-value($options, 2);

    @if is-defined($v) {
      $settings: extend($settings, (v: $v));
    }
  }

  $h: get($settings, h);

  @if is-defined($h) {
    @include text-align($h);
  }

  $v: get($settings, v);

  @if is-defined($v) {
    @include vertical-align($v);
  }
}

/// Text transform modes
///
/// @access private
/// @type list
$text-transform-modes: array-concat((none, capitalize, uppercase, lowercase), $css-default-modes);

/// Checks if something is a supported text-transform value
///
/// @link https://www.w3schools.com/cssref/pr_text_text-transform.asp - W3Schools text-transform docs
/// @access public
/// @param {string} $tt - the text-transform value
/// @return {boolean} - true if is text-transform value
@function is-text-transform($tt) {
  @return is-defined($tt) and array-contains($text-transform-modes, $tt);
}

/// Text transform mixin
///
/// @example scss - Usage
///   .text-transform-element {
///     @include text-transform(uppercase);
///   }
///
/// @example css - Output
///   .text-transform-element {
///     text-transform: uppercase;
///   }
/// @access public
/// @param {string} $tt - the text-transform value
@mixin text-transform($tt) {
  @if is-text-transform($tt) {
    text-transform: $tt;
  }
  @else {
    @warn '`text-transform: #{$tt}` is not a valid text-transform value';
  }
}

/// Text overflow modes
///
/// @access private
/// @type list
$text-overflow-modes: array-concat((clip, ellipsis), $css-default-modes);

/// Checks if something is a supported text-overflow mode
///
/// @link https://www.w3schools.com/cssref/css3_pr_text-overflow.asp - W3Schools text-overflow docs
/// @access public
/// @param {string} $to - the text-overflow mode
/// @return {boolean} - true if is text-overflow mode
@function is-text-overflow($to) {
  @return is-defined($to) and (array-contains($text-overflow-modes, $to) or is-string($to));
}

/// Text overflow mixin
///
/// @example scss - Usage
///   .text-overflow-element {
///     @include text-overflow(ellipsis);
///   }
///
/// @example css - Output
///   .text-overflow-element {
///     -o-overflow: ellipsis;
///     text-overflow: ellipsis;
///   }
/// @access public
/// @param {string} $to - the text-overflow value
@mixin text-overflow($to) {
  @if is-text-overflow($to) {
    @include prefixer(text-overflow, $to, o spec);
  }
  @else {
    @warn '`text-overflow: #{$to}` is not a valid text-overflow value';
  }
}

/// Hyphens modes
///
/// @access private
/// @type list
$hyphens-modes: array-concat((none, manual, auto, unset), $css-default-modes);

/// Checks if something is a supported hyphens mode
///
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens - MDN hyphens docs
/// @access public
/// @param {string} $h - the hyphens mode
/// @return {boolean} - true if is hyphens mode
@function is-hyphens($h) {
  @return is-defined($h) and array-contains($hyphens-modes, $h);
}

/// Hyphens mixin
///
/// @example scss - Usage
///   .hyphens-element {
///     @include hyphens(manual);
///   }
///
/// @example css - Output
///   .hyphens-element {
///     -webkit-overflow: manual;
///     -moz-overflow: manual;
///     -ms-overflow: manual;
///     -o-overflow: manual;
///     hyphens: manual;
///   }
/// @access public
/// @param {string} $h - the hyphens value
@mixin hyphens($h) {
  @if is-hyphens($h) {
    @include prefixer(hyphens, $h);
  }
  @else {
    @warn '`hyphens: #{$h}` is not a valid hyphens value';
  }
}

/// Letter spacing modes
///
/// @access private
/// @type list
$letter-spacing-modes: array-concat((normal), $css-default-modes);

/// Checks if something is a supported letter-spacing value
///
/// @link https://www.w3schools.com/cssref/pr_text_letter-spacing.asp - W3Schools letter-spacing docs
/// @access public
/// @param {size | string} $ls - the letter-spacing value
/// @return {boolean} - true if is letter-spacing value
@function is-letter-spacing($ls) {
  @return is-defined($ls) and (array-contains($letter-spacing-modes, $ls) or is-size($ls));
}

/// Letter spacing mixin
///
/// @example scss - Usage
///   .letter-spacing-element {
///     @include letter-spacing(3px);
///   }
///
/// @example css - Output
///   .letter-spacing-element {
///     letter-spacing: 3px;
///   }
/// @access public
/// @param {size | string} $ls - the letter-spacing value
@mixin letter-spacing($ls) {
  @if is-letter-spacing($ls) {
    letter-spacing: $ls;
  }
  @else {
    @warn '`letter-spacing: #{$ls}` is not a valid letter-spacing value';
  }
}

/// Word spacing modes
///
/// @access private
/// @type list
$word-spacing-modes: array-concat((normal), $css-default-modes);

/// Checks if something is a supported word-spacing value
///
/// @link https://www.w3schools.com/cssref/pr_text_word-spacing.asp - W3Schools word-spacing docs
/// @access public
/// @param {size | string} $ws - the word-spacing value
/// @return {boolean} - true if is word-spacing value
@function is-word-spacing($ws) {
  @return is-defined($ws) and (array-contains($word-spacing-modes, $ws) or is-size($ws));
}

/// Word spacing mixin
///
/// @example scss - Usage
///   .word-spacing-element {
///     @include word-spacing(1rem);
///   }
///
/// @example css - Output
///   .word-spacing-element {
///     word-spacing: 1rem;
///   }
/// @access public
/// @param {size | string} $ws - the word-spacing value
@mixin word-spacing($ws) {
  @if is-word-spacing($ws) {
    word-spacing: $ws;
  }
  @else {
    @warn '`word-spacing: #{$ws}` is not a valid word-spacing value';
  }
}

/// User select modes
///
/// @access private
/// @type list
$user-select-modes: (auto, none, text, all);

/// Checks if something is a supported user-select mode
///
/// @link https://www.w3schools.com/cssref/css3_pr_user-select.asp - W3Schools user-select docs
/// @access public
/// @param {string} $us - the user-select mode
/// @return {boolean} - true if is user-select mode
@function is-user-select($us) {
  @return is-defined($us) and array-contains($user-select-modes, $us);
}

/// User select mixin
///
/// @example scss - Usage
///   .user-select-element {
///     @include user-select(none);
///   }
///
/// @example css - Output
///   .user-select-element {
///     -webkit-user-select: none;
///     -moz-user-select: none;
///     -ms-user-select: none;
///     -o-user-select: none;
///     user-select: none;
///   }
/// @access public
/// @param {string} $us - the user-select value
@mixin user-select($us) {
  @if is-user-select($us) {
    @include prefixer(user-select, $us);
  }
  @else {
    @warn '`user-select: #{$us}` is not a valid user-select value';
  }
}

/// Direction modes
///
/// @access private
/// @type list
$direction-modes: array-concat((ltr, rtl), $css-default-modes);

/// Checks if something is a supported direction mode
///
/// @link https://www.w3schools.com/cssref/pr_text_direction.asp - W3Schools direction docs
/// @access public
/// @param {string} $d - the direction mode
/// @return {boolean} - true if is direction mode
@function is-direction($d) {
  @return is-defined($d) and array-contains($direction-modes, $d);
}

/// Direction mixin
///
/// @example scss - Usage
///   .direction-element {
///     @include direction(rtl);
///   }
///
/// @example css - Output
///   .direction-element {
///     direction: rtl;
///   }
/// @access public
/// @param {string} $d - the direction value
@mixin direction($d) {
  @if is-direction($d) {
    direction: $d;
  }
  @else {
    @warn '`direction: #{$d}` is not a valid direction value';
  }
}

/// White space modes
///
/// @access private
/// @type list
$white-space-modes: array-concat((normal, nowrap, pre, pre-line, pre-wrap), $css-default-modes);

/// Checks if something is a supported white-space mode
///
/// @link https://www.w3schools.com/cssref/pr_text_white-space.asp - W3Schools white-space docs
/// @access public
/// @param {string} $ws - the white-space mode
/// @return {boolean} - true if is white-space mode
@function is-white-space($ws) {
  @return is-defined($ws) and array-contains($white-space-modes, $ws);
}

/// White space mixin
///
/// @example scss - Usage
///   .white-space-element {
///     @include white-space(nowrap);
///   }
///
/// @example css - Output
///   .white-space-element {
///     white-space: nowrap;
///   }
/// @access public
/// @param {string} $ws - the white-space value
@mixin white-space($ws) {
  @if is-white-space($ws) {
    white-space: $ws;
  }
  @else {
    @warn '`white-space: #{$ws}` is not a valid white-space value';
  }
}

/// Word break modes
///
/// @access private
/// @type list
$word-break-modes: array-concat((normal, break-all, keep-all), $css-default-modes);

/// Checks if something is a supported word-break mode
///
/// @link https://www.w3schools.com/cssref/css3_pr_word-break.asp - W3Schools word-break docs
/// @access public
/// @param {string} $wb - the word-break mode
/// @return {boolean} - true if is word-break mode
@function is-word-break($wb) {
  @return is-defined($wb) and array-contains($word-break-modes, $wb);
}

/// Word break mixin
///
/// @example scss - Usage
///   .word-break-element {
///     @include word-break(break-all);
///   }
///
/// @example css - Output
///   .word-break-element {
///     word-break: break-all;
///   }
/// @access public
/// @param {string} $wb - the word-break value
@mixin word-break($wb) {
  @if is-word-break($wb) {
    word-break: $wb;
  }
  @else {
    @warn '`word-break: #{$wb}` is not a valid word-break value';
  }
}

/// Word wrap modes
///
/// @access private
/// @type list
$word-wrap-modes: array-concat((normal, break-word), $css-default-modes);

/// Checks if something is a supported word-wrap mode
///
/// @link https://www.w3schools.com/cssref/css3_pr_word-wrap.asp - W3Schools word-wrap docs
/// @access public
/// @param {string} $ww - the word-wrap mode
/// @return {boolean} - true if is word-wrap mode
@function is-word-wrap($ww) {
  @return is-defined($ww) and array-contains($word-wrap-modes, $ww);
}

/// Word wrap mixin
///
/// @example scss - Usage
///   .word-wrap-element {
///     @include word-wrap(break-word);
///   }
///
/// @example css - Output
///   .word-wrap-element {
///     word-wrap: break-word;
///   }
/// @access public
/// @param {string} $ww - the word-wrap value
@mixin word-wrap($ww) {
  @if is-word-wrap($ww) {
    word-wrap: $ww;
  }
  @else {
    @warn '`word-wrap: #{$ww}` is not a valid word-wrap value';
  }
}

/// Word Wrap Force mixin
///
/// @example scss - Usage - single line
///   .word-wrap-force-element {
///     @include word-wrap-force;
///   }
///
/// @example css - Output - single line
///   .word-wrap-force-element {
///     hyphens: auto;
///     word-break: break-all;
///     word-wrap: break-word;
///   }
/// @access public
@mixin word-wrap-force {
  @include hyphens(auto);
  @include word-break(break-all);
  @include word-wrap(break-word);
}

/// Text size adjust modes
///
/// @access private
/// @type list
$text-size-adjust-modes: array-concat((none, auto, unset), $css-default-modes);

/// Checks if something is a supported text-size-adjust value
///
/// @link https://developer.mozilla.org/it/docs/Web/CSS/text-size-adjust - MDN text-size-adjust docs
/// @access public
/// @param {percentage | string} $tsa - the text-size-adjust value
/// @return {boolean} - true if is text-size-adjust value
@function is-text-size-adjust($tsa) {
  @return is-defined($tsa) and (is-percentage($tsa) or array-contains($text-size-adjust-modes, $tsa));
}

/// Text size adjust mixin
///
/// @example scss - Usage
///   .text-size-adjust-element {
///     @include text-size-adjust(67%);
///   }
///
/// @example css - Output
///   .text-size-adjust-element {
///     -webkit-text-size-adjust: 67%;
///     -moz-text-size-adjust: 67%;
///     -ms-text-size-adjust: 67%;
///     -o-text-size-adjust: 67%;
///     text-size-adjust: 67%;
///   }
/// @access public
/// @param {string} $tsa - the text-size-adjust value
@mixin text-size-adjust($tsa, $prefixes: $prefixes-default) {
  @if is-text-size-adjust($tsa) {
    @include prefixer(text-size-adjust, $tsa, $prefixes);
  }
  @else {
    @warn '`text-size-adjust: #{$tsa}` is not a valid text-size-adjust value';
  }
}

/// Ellipsis mixin
/// <br>useful to ellipse text containers also in multiline mode
///
/// @example scss - Usage - single line
///   .ellipsis-element {
///     @include ellipsis;
///   }
///
/// @example css - Output - single line
///   .ellipsis-element {
///     display: inline-block;
///     white-space: nowrap;
///     word-wrap: normal;
///     max-width: 100%;
///     overflow: hidden;
///     text-overflow: ellipsis;
///   }
///
/// @example scss - Usage - multi line
///   .ellipsis-element {
///     @include ellipsis(true);
///   }
///
/// @example css - Output - multi line
///   .ellipsis-element {
///     display: block;
///     display: -webkit-box;
///     margin: 0 auto;
///     font-size: 10px;
///     line-height: 1.5;
///     max-width: 100%;
///     height: 45px;
///     min-height: 45px;
///     -webkit-line-clamp: 3;
///     -webkit-box-orient: vertical;
///     overflow: hidden;
///     text-overflow: ellipsis;
///   }
/// @access public
/// @param {boolean} $multiline [false] - the multiline mode
/// @param {size | length | percentage} $width [100%] - the width to use
/// @param {size | length | percentage} $font-size [$font-size-base] - the font-size
/// @param {size | length | percentage} $line-height [$line-height-base] - the line-height
/// @param {integer} $lines-to-show [3] - the lines to show before ellipsis
/// @param {string} $text-overflow [ellipsis] - the text to use for overflowing
@mixin ellipsis($multiline: false, $width: 100%, $font-size: $font-size-base, $line-height: $line-height-base, $lines-to-show: 3, $text-overflow: ellipsis) {
  @if $multiline {
    $height: $font-size * $line-height * $lines-to-show; // Fallback for non-webkit
    $max-width: $width;
    $min-height: $font-size * $line-height * $lines-to-show; // Fallback for non-webkit

    @include display(block); // Fallback for non-webkit
    @include box-size(null $height null $min-height $max-width);
    @include margin(0 auto);
    @include font($font-size $line-height);


    display: -webkit-box;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
  }
  @else {
    @include display(inline-block);
    @include box-bounds(null null $width null);
    @include white-space(nowrap);
    @include word-wrap(normal);
  }

  @include overflow(hidden);
  @include text-overflow($text-overflow);
}
