@charset 'UTF-8';

////
/// Flavor SCSS Mixins Text
/// @group mixins-text
/// @author blackmirror1980
////

@function is-font-family($ff) {
  @return is-defined($ff) and (is-string($ff) or is-array($ff));
}

$font-weight-modes: array-concat((normal, bold, bolder, lighter, 100, 200, 300, 400, 500, 600, 700, 800, 900), $css-default-modes);

@function is-font-weight($fw) {
  @return array-contains($font-weight-modes, $fw);
}

$font-modes: array-concat((medium, xx-small, x-small, small, large, x-large, xx-large, smaller, larger), $css-default-modes);

@function is-font-size($fs) {
  @return is-size($fs) or array-contains($font-modes, $fs);
}

$line-height-modes: array-concat((normal), $css-default-modes);

@function is-line-height($s) {
  @return is-size($s) or array-contains($line-height-modes, $s);
}

@mixin font($options) {
  $settings: (size: 1rem, height: 1rem, family: null, weight: normal, color: null);

  @if is-object($options) {
    $settings: extend($settings, $options);
  }
  @else {
    $size: nth-value($options, 1);

    @if is-defined($size) {
      $settings: extend($settings, (size: $size));
    }

    $height: nth-value($options, 2);

    @if is-defined($height) {
      $settings: extend($settings, (height: $height));
    }

    $family: nth-value($options, 3);

    @if is-defined($family) {
      $settings: extend($settings, (family: $family));
    }

    $weight: nth-value($options, 4);

    @if is-defined($weight) {
      $settings: extend($settings, (weight: $weight));
    }

    $color: nth-value($options, 5);

    @if is-defined($color) {
      $settings: extend($settings, (color: $color));
    }
  }

  $font-size: map-get($settings, size);

  @if is-defined($font-size) {
    @if is-font-size($font-size) {
      font-size: $font-size;
    }
    @else {
      @warn '`font-size: #{$font-size}` is not a valid css size';
    }
  }

  $line-height: map-get($settings, height);

  @if is-defined($line-height) {
    @if is-line-height($line-height) {
      line-height: $line-height;
    }
    @else {
      @warn '`line-height: #{$line-height}` is not a valid line-height value';
    }
  }

  $font-family: map-get($settings, family);

  @if is-defined($font-family) {
    @if is-font-family($font-family) {
      font-family: #{$font-family};
    }
    @else {
      @warn '`font-family: #{$font-family}` is not a valid font-family value';
    }
  }

  $font-weight: map-get($settings, weight);

  @if is-defined($font-weight) {
    @if is-font-weight($font-weight) {
      font-weight: $font-weight;
    }
    @else {
      @warn '`font-weight: #{$font-weight}` is not a valid font-weight';
    }
  }

  $font-color: map-get($settings, color);

  @if is-defined($font-color) {
    @if is-css-color($font-color) {
      color: $font-color;
    }
    @else {
      @warn '`color: #{$font-color}` is not a valid css color';
    }
  }
}

$text-align-modes: array-concat((left, center, right, justify), $css-default-modes);

@function is-text-align($ta) {
  @return is-defined($ta) and array-contains($text-align-modes, $ta);
}

@mixin text-align($ta) {
  @if(is-text-align($ta)) {
    text-align: $ta;
  }
  @else {
    @warn '`text-align: #{$ta}` is not a valid text-align value';
  }
}

$vertical-align-modes: array-concat((baseline, sub, super, top, text-top, middle, bottom, text-bottom), $css-default-modes);

@function is-vertical-align($va) {
  @return is-defined($va) and (is-size($va) or array-contains($vertical-align-modes, $va));
}

@mixin vertical-align($va) {
  @if(is-vertical-align($va)) {
    vertical-align: $va;
  }
  @else {
    @warn '`vertical-align: #{$va}` is not a valid vertical-align value';
  }
}

@mixin content-align($options) {
  $settings: (h: inherit, v: inherit);

  @if is-object($options) {
    $settings: extend($settings, $options);
  }
  @else {
    $h: nth-value($options, 1);

    @if is-defined($h) {
      $settings: extend($settings, (h: $h));
    }

    $v: nth-value($options, 2);

    @if is-defined($v) {
      $settings: extend($settings, (v: $v));
    }
  }

  $h: get($settings, h);

  @if is-defined($h) {
    @if is-text-align($h) {
      text-align: $h;
    }
    @else {
      @warn '`text-align: #{$h}` is not a valid text-align value';
    }
  }

  $v: get($settings, v);

  @if is-defined($v) {
    @if is-vertical-align($v) {
      vertical-align: $v;
    }
    @else {
      @warn '`vertical-align: #{$v}` is not a valid vertical-align value';
    }
  }
}

$text-overflow-modes: array-concat((clip, ellipsis), $css-default-modes);

@function is-text-overflow-mode($to) {
  @return is-defined($to) and (array-contains($text-overflow-modes, $to) or is-string($to));
}

@mixin text-overflow($to) {
  @if is-text-overflow($to) {
    @include prefixer(text-overflow, $to, o spec);
  }
  @else {
    @warn '`text-overflow: #{$to}` is not a valid text-overflow value';
  }
}

$hyphens-modes: array-concat((none, manual, auto, unset), $css-default-modes);

@function is-hyphens-mode($h) {
  @return is-defined($h) and array-contains($hyphens-modes, $h);
}

@mixin hyphens($h) {
  @if is-hyphens($h) {
    @include prefixer(hyphens, $h);
  }
  @else {
    @warn '`hyphens: #{$h}` is not a valid hyphens value';
  }
}

$letter-spacing-modes: array-concat((normal), $css-default-modes);

@function is-letter-spacing-mode($ls) {
  @return is-defined($ls) and (array-contains($letter-spacing-modes, $ls) or is-size($ls));
}

@mixin letter-spacing($ls) {
  @if is-letter-spacing($ls) {
    letter-spacing: $ls;
  }
  @else {
    @warn '`letter-spacing: #{$ls}` is not a valid letter-spacing value';
  }
}

$word-spacing-modes: array-concat((normal), $css-default-modes);

@function is-word-spacing-mode($ws) {
  @return is-defined($ws) and (array-contains($word-spacing-modes, $ws) or is-size($ws));
}

@mixin word-spacing($ws) {
  @if is-word-spacing($ws) {
    word-spacing: $ws;
  }
  @else {
    @warn '`word-spacing: #{$ws}` is not a valid word-spacing value';
  }
}

$user-select-modes: (auto, none, text, all);

@function is-user-select-mode($us) {
  @return is-defined($us) and array-contains($user-select-modes, $us);
}

@mixin user-select($us) {
  @if is-user-select($us) {
    @include prefixer(user-select, $us);
  }
  @else {
    @warn '`user-select: #{$us}` is not a valid user-select value';
  }
}

$direction-modes: array-concat((ltr, rtl), $css-default-modes);

@function is-direction-mode($d) {
  @return is-defined($d) and array-contains($direction-modes, $d);
}

@mixin direction($d) {
  @if is-direction($d) {
    direction: $d;
  }
  @else {
    @warn '`direction: #{$d}` is not a valid direction value';
  }
}

$white-space-modes: array-concat((normal, nowrap, pre, pre-line, pre-wrap), $css-default-modes);

@function is-white-space-mode($ws) {
  @return is-defined($ws) and array-contains($white-space-modes, $ws);
}

@mixin white-space($ws) {
  @if is-white-space($ws) {
    white-space: $ws;
  }
  @else {
    @warn '`white-space: #{$ws}` is not a valid white-space value';
  }
}

$word-break-modes: array-concat((normal, break-all, keep-all), $css-default-modes);

@function is-word-break-mode($wb) {
  @return is-defined($wb) and array-contains($word-break-modes, $wb);
}

@mixin word-break($wb) {
  @if is-word-break($wb) {
    word-break: $wb;
  }
  @else {
    @warn '`word-break: #{$wb}` is not a valid word-break value';
  }
}

$word-wrap-modes: array-concat((normal, break-word), $css-default-modes);

@function is-word-wrap-mode($ww) {
  @return is-defined($ww) and array-contains($word-wrap-modes, $ww);
}

@mixin word-wrap($ww) {
  @if is-word-wrap($ww) {
    word-wrap: $ww;
  }
  @else {
    @warn '`word-wrap: #{$ww}` is not a valid word-wrap value';
  }
}

$text-size-adjust-modes: array-concat((none, auto, unset), $css-default-modes);

@function is-text-size-adjust($tsa) {
  @return is-defined($tsa) and (is-percentage($tsa) or array-contains($text-size-adjust-modes, $tsa));
}

@mixin text-size-adjust($tsa) {
  @if(is-text-size-adjust($tsa)) {
    @include prefixer(text-size-adjust, $tsa);
  }
  @else {
    @warn '`text-size-adjust: #{$tsa}` is not a valid text-size-adjust value';
  }
}

@mixin ellipsis($multiline: false, $width: 100%, $font-size: 16px, $line-height: 1.4, $lines-to-show: 3) {
  @include overflow(hidden);
  @include text-overflow(ellipsis);

  @if $multiline {
    @include display(block); // Fallback for non-webkit
    @include margin(0 auto);
    @include font($font-size $line-height);

    display: -webkit-box;
    max-width: $width;
    height: $font-size * $line-height * $lines-to-show; // Fallback for non-webkit
    min-height: $font-size * $line-height * $lines-to-show; // Fallback for non-webkit
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
  }
  @else {
    @include display(inline-block);
    @include white-space(nowrap);
    @include word-wrap(normal);

    max-width: $width;
  }
}

// Word Wrapping Force
@mixin word-wrap-force {
  @include hyphens(auto);
  @include word-break(break-all);

  word-break: break-word;
}
