@charset 'UTF-8';

////
/// Flavor SCSS Mixins Utils
/// @group mixins-utils
/// @author blackmirror1980
////
/// Convert pixels to rems
/// <br>eg. for a relational value of 12px write rem(12)
/// <br>Assumes $base is the font-size of <html>
///
/// @access public
/// @param {size} $px - pixels size you want to convert
/// @param {size} $base [$font-size-base] - html font-size base
/// @return {size}
@function rem($px, $base: $font-size-base) {
  @if not unitless($px) {
    $px: strip-units($px);
  }

  @if not unitless($base) {
    $base: strip-units($base);
  }

  @return ($px / $base) * 1rem;
}

$prefixes-available: (webkit, moz, ms, o, spec);

@function is-prefix-available($p) {
  @return is-defined($p) and array-contains($prefixes-available, $p);
}

/// Prefixer mixin
/// <br>for generating vendor prefixes on non-standardized properties.
///
/// @example scss - Usage
///   .element {
///     @include prefixer(border-radius, 10px, webkit moz spec);
///   }
///
/// @example css - Output
///   .element {
///     -webkit-border-radius: 10px;
///     -moz-border-radius: 10px;
///     border-radius: 10px;
///   }
/// @access public
/// @param {string} $property - the property to prefix
/// @param {any} $values - the values list to use
/// @param {array | list} $prefixes - space separated list
@mixin prefixer($property, $values, $prefixes: webkit moz ms o spec) {
  $prefix-selector: '';

  @each $prefix in $prefixes {
    @if is-prefix-available($prefix) {
      $prefix-selector: if($prefix !=spec, '-#{$prefix}-', '');

      #{$prefix-selector}#{$property}: $values;
    }
    @else {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}

/// Disable mixin
/// <br>it forces the cursor to default and pointer-evento to none for an element and all of his children
/// <br>it's compatible with IE11+
///
/// @link https://caniuse.com/#search=pointer-events caniuse.com i use pointer-events
/// @example scss - Usage
///   .disable-element {
///     @include disable;
///   }
///
/// @example css - Output
///   .disable-element {
///     cursor: default;
///     pointer-events: none;
///   }
///
///   .disable-element * {
///     cursor: default;
///     pointer-events: none;
///   }
/// @access public
@mixin disable {
  @include cursor(default);
  @include pointer-events(none);

  * {
    @include cursor(default);
    @include pointer-events(none);
  }
}

/// Hidden mixin
/// <br>visually hides an element without touching display or visibility selectors
///
/// @example scss - Usage
///   .hidden-element {
///     @include hidden;
///   }
///
/// @example css - Output
///   .hidden-element {
///     position: absolute;
///     width: 1px;
///     height: 1px;
///     padding: 0;
///     border: 0;
///     overflow: hidden;
///     white-space: nowrap;
///     clip: rect(1px, 1px, 1px, 1px);
///     clip-path: inset(100%);
///   }
/// @access public
@mixin hidden {
  @include position(absolute);
  @include box-size(1px);
  @include padding(0);
  @include border(0);
  @include overflow(hidden);
  @include white-space(nowrap);

  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
}
