@charset 'UTF-8';

////
/// Flavor SCSS Mixins Utils
/// @group mixins-utils
/// @author blackmirror1980
////

/// Convert pixels to rems
/// <br>eg. for a relational value of 12px write rem(12)
/// <br>Assumes $base is the font-size of <html>
///
/// @param {size} $px - pixels size you want to convert
/// @param {size} $base [$font-size-base] - html font-size base
/// @return {size}
@function rem($px, $base: $font-size-base) {
  @if not unitless($px) {
    $px: strip-units($px);
  }

  @if not unitless($base) {
    $base: strip-units($base);
  }

  @return ($px / $base) * 1rem;
}

/// A mixin for generating vendor prefixes on non-standardized properties.
///
/// @param {String} $property
///   Property to prefix
///
/// @param {*} $value
///   Value to use
///
/// @param {List} $prefixes
///   Prefixes to define
///
/// @example scss - Usage
///   .element {
///     @include prefixer(border-radius, 10px, webkit ms spec);
///   }
///
/// @example css - Output
///   .element {
///     -webkit-border-radius: 10px;
///     -moz-border-radius: 10px;
///     border-radius: 10px;
///   }
///
@mixin prefixer($property, $values, $prefixes: webkit moz ms o spec) {
  @each $prefix in $prefixes {
    @if $prefix==webkit {
      -webkit-#{$property}: $values;
    }
    @else if $prefix==moz {
      -moz-#{$property}: $values;
    }
    @else if $prefix==ms {
      -ms-#{$property}: $values;
    }
    @else if $prefix==o {
      -o-#{$property}: $values;
    }
    @else if $prefix==spec {
      #{$property}: $values;
    }
    @else {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}

@mixin outline($outline) {
  outline: $outline;

  &:active,
  &:focus {
    outline: $outline;
  }
}

@mixin overflow-hidden-animated {
  @include backface-visibility(hidden);
  @include transform(translate3d(0, 0, 0), webkit moz);
  @include overflow(hidden);
}

@mixin disable {
  @include cursor(default);
  @include pointer-events(none);

  * {
    @include cursor(default);
    @include pointer-events(none);
  }
}

@mixin hidden {
  @include position(absolute);
  @include box-size(1px);
  @include padding(0);
  @include border(0);
  @include overflow(hidden);
  @include white-space(nowrap);

  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
}

@mixin opacity($o) {
  // fallbacks for ie old browsers
  filter: alpha(opacity=(#{$o * 100}));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$o * 100})";

  @include prefixer(opacity, $o);
}

@mixin force-cursor($c) {
  @include cursor($c);

  * {
    @include cursor($c);

    &:before {
      @include cursor($c);
    }
  }
}
