@charset 'UTF-8';

////
/// Flavor SCSS Grid-system Rows
/// @group grid-system-rows
/// @author blackmirror1980
////

@mixin rows($gutter: $gutter-default) {
  // Rows
  // --------------------------------------------------
  $margin: ($gutter / -2);

  .row {
    // Row
    //
    // Rows contain and clear the floats of your columns.
    @include display(block);
    @include margin(0 $margin);
    @include reset-inline-block;

    + .row {
      @include margin-top($gutter);
    }
  }
}

