@charset 'UTF-8';

////
/// Flavor SCSS Grid-system
/// @group grid-system
/// @author blackmirror1980
////

@import 'reboot';
@import 'helpers';
@import 'containers';
@import 'rows';
@import 'columns';

@mixin grid-system($columns: $columns-default, $gutter: $gutter-default, $reboot: true) {
  @if $reboot {
    @include reboot;
  }
  @else {
    html,
    body {
      @include font($font-size-base $line-height-base $font-family-base $font-weight-base);
    }
  }

  @include helpers;

  // Grid system
  // --------------------------------------------------
  @include containers($gutter);
  @include rows($gutter);
  @include columns($columns, $gutter);
}
