@charset 'UTF-8';

@import 'reboot';
@import 'helpers';
@import 'containers';
@import 'rows';
@import 'colums';

@mixin grid-system($columns: $columns-default, $gutter: $gutter-default, $reboot: true, $font-family: $font-family-base, $font-size: $font-size-base, $line-height: $line-height-base, $font-weight: $font-weight-base) {
  @if $reboot {
    @include reboot;
  }
  @else {
    html,
    body {
      font-family: $font-family;
      font-size: $font-size;
      line-height: $line-height;
      font-weight: $font-weight;
    }
  }

  @include helpers; // Grid system
  // --------------------------------------------------
  @include containers($gutter);
  @include rows($gutter);
  @include columns($columns, $gutter);
}
